node_modules/
# data/new-york-times.db
# data/new-york-times.db-shm
# data/new-york-times.db-wal
long-tails/
old/long-tails/
counts/
old/counts/
garbage.js
new_server.js
old_server.js
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.DS_Store