.noselect {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* a {text-decoration: none;color: inherit;} */
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input[type='text'], input[type='url'],input[type='number'],input[type='text']:focus,input[type='url']:focus,input[type='number']:focus {
	border: none;
	outline: none;
  /*   height: 20px; */
	/* height:100%; */
	padding-top: 0px;
	/* background-color: var(--lightest); */
  }
  

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../assets/fonts/public-sans-regular.woff2');
}
@font-face {
    font-family: 'Public Sans';
    src: url('../assets/fonts/public-sans-regular-italic.woff2');
    font-style:italic;
}


@font-face {
    font-family: 'TeX Gyre Schola';
    src: url('../assets/fonts/texgyreschola-regular.otf');
}
@font-face {
    font-family: 'TeX Gyre Schola';
    src: url('../assets/fonts/texgyreschola-italic.otf');
    font-style:italic;
}

@font-face {
  font-family: 'TeX Gyre Schola';
  src: url('../assets/fonts/texgyreschola-bold.otf');
  font-weight:600;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../assets/fonts/public-sans-medium.woff2');
    font-weight:500;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../assets/fonts/public-sans-light.woff2');
    font-weight:300;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../assets/fonts/public-sans-light-italic.woff2');
    font-weight:300;
    font-style:italic;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../assets/fonts/public-sans-semibold.woff2');
    font-weight:600;
}
@font-face {
    font-family: 'Public Sans';
    src: url('../assets/fonts/public-sans-semibold-italic.woff2');
    font-weight:600;
    font-style:italic;
}