:root{
    --ui-bg:#F1F1F1;
    --article-bg:#EEEEEE;
}

body{
    /* temp */
    /* --ff:'Libre Franklin', sans-serif; */
    --ff:'Public Sans', sans-serif;
    font-family:var(--ff);
    --fs:16px;
    font-size:var(--fs);
    --lh:23px;
    line-height:var(--lh);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

main{
    width:100vw;
    display:flex;
    flex-flow:row nowrap;
    align-items:flex-start;
    padding:0px;
    box-sizing:border-box;
}

main::after{
    position:absolute;
    /* background-color:var(--article-bg); */
    top:0;
    right:0;
    width:21px;
    height:100vh;
    content:'';
}


article{
    max-width:480px;
    /* min-width:480px; */
    flex:1;
    border-left:1px solid black;
    background-color:var(--article-bg);
    overflow:hidden;
    height:100vh;
    box-sizing:border-box;
    position:relative;
}

.page{
    padding:34px 20px;
    padding-right:40px;
    box-sizing:border-box;
    height:100vh;
    overflow:scroll;
    transform:translateX(100%);
    position:absolute;
    top:0;
    left:0;
    transition:transform 0.5s;
    width:100%;
}

#home{
    transform:translateX(-100%);
}

.page.current,#home.current{
    transform:translateX(0%);
}

.page>*{
    margin-bottom:12px;
}


.page p{
    font-family:'TeX Gyre Schola';
    font-size:16px;
    line-height:1.28em;
}

.page section{
    border-top:1px solid black;
    width:100%;
    padding-top:3px;
    margin-top:37px;
}
/* .page section>*{
    margin-bottom:12px;
} */


.page section .to-page{
    font-weight:600;
    color:black;
    text-decoration:none;
    display:block;
    margin-bottom:6px;
    line-height:1.2em;
    /* letter-spacing: -0.02em; */
    text-align:left;
    padding:0;
}

summary{
    cursor:pointer;
    /* display:flex; */
    /* flex-flow:row nowrap; */
}

summary h2{
    display:inline-block;
    
}


summary::after{
    content:' +'
    
}

details[open] summary::after{
    content:' -'
    
}

.page summary::marker{
    content: '';
}



#graph-column{
    flex:2;
    padding-top:30px;
    display:flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items:center;
    padding:30px 20px;
    padding-left:40px;
    position:sticky;
    top:0;
    max-height:100vh;
    height:100vh;
    box-sizing:border-box;
}

#search{
    width:100%;
    margin-bottom:20px;
    --lh:30px;
    line-height: var(--lh);
}

#graph-column>*{
    /* max-width:min(100%,700px); */
    min-width:0px;
    width:100%;
    align-self:center;
}


input[type="text"],input[type="text"]:focus,input[type="number"],input[type="number"]:focus,.add-more{
    font-family:var(--ff);
    font-size:var(--fs);
    line-height:var(--lh);
    --bg:var(--ui-bg);
    background-color:var(--bg);
    border-radius:5px;
    padding:0px 4px;
    letter-spacing: -0.02em;
}

button{
    background-color:none;
    padding:0px 6px;
    border-radius:4px;
}

input[type="text"],input[type="text"]:focus{
    border-radius:0;
    --bg:rgba(var(--rgb),0.2);
    border-bottom:1px solid rgba(var(--rgb),1);
}





.add-more{
    border-radius:50%;
    /* height:var(--lh); */
    height:24px;
    vertical-align:middle;
    margin-left:6px;
    line-height: 1.25em;
    width:24px;
    /* margin-top: -0.1em; */
}

.add-more.hide{
    display:none;
}


input[type="number"],input[type="number"]:focus{
    cursor:ew-resize;
    /* padding:0px 3px; */
    height:calc(var(--lh) * 0.8);
    padding-right: 0;

}

input[type="number"].invalid,input[type="number"].invalid:focus{
    background-color:rgba(255,0,0,0.2);
}


.search-terms{
    display:inline-block;
    margin:0 5px;
}
.search-terms:not(.search-terms[data-count="2"])>span:not(span:last-of-type)::after{
    content:', ';
}
.search-terms>span:last-of-type:not(span:first-child)::before{
    content:' and ';
}


/* .search-terms>*:not(span:first-child){
    margin-left:6px;
} */


.gram-search-wrapper{
    display:inline-block;
    vertical-align:middle;
    min-width:40px;
    /* min-height:30px; */
    box-sizing:border-box;
    /* display:inline-block; */
    min-height:calc(var(--lh) * 0.8);
    height:calc(var(--lh) * 0.8);
    position:relative;
}

.width-setter{
    font-family:var(--ff);
    opacity:0;
    white-space: pre;
    vertical-align:middle;
    display:inline-block;
}

.gram-search-wrapper input{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-sizing:border-box;
}

.gram-search-wrapper,input.gram-search,input.gram-search:focus{
    padding:0px 4px;
}


#input-ruler{
    opacity:0;
    pointer-events:0;
    position:absolute;
}

#graph-wrapper{
    width:calc(100% - 60px);
    position:relative;
}

figcaption{
    position:absolute;
    top:0;
    right:0;
    background-color:white;
    color:#9E9E9E;
    font-size:12px;
}

#graph{
    /* width:100%;
    min-width:100%; */
    position:absolute;
    left:-40px;
    /* border-bottom:1px solid black;
    border-left:1px solid black; */
}


.paths path{
    stroke:black;
    stroke-width:1px;
    fill:none;
    stroke-linecap:round;
    stroke-linejoin:round;
}


#brown-logo{
    position:absolute;
    bottom:0px;
    right:36px;
    width:155px;
}

#brown-logo img{
    width:100%;
}


#bottom-area{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:20px 40px;
    box-sizing:border-box;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
}

#bottom-area button,#bottom-area a{
    text-decoration:underline;
    text-underline-offset:4px;
    padding:0px;
    padding-top:5px;
    margin-right:15px;
    white-space:nowrap;
}

#bottom-area .to-page{
    color:#9E9E9E;
    
    
}


/* type---------------- */

h1,#search,h3{
    --fs:20px;
    font-size:20px;
    letter-spacing: -0.02em;
    
}

h1,h3{
    font-weight:600;
}

h2,summary::after,.back-button{
    font-size:12px;
    text-transform:uppercase;
    font-weight:500;
    margin-bottom:12px;
    letter-spacing: 0.06em;
    padding:0;
}

.tick text{
    font-size: 12px;
    font-family:var(--ff);
}

#x-axis-years .tick text,#x-axis-years .domain{
    display:none;
}

#x-axis-years line{
    stroke:#E2E2E2;
}



@font-face {
    font-family: 'Public Sans';
    src: url('../assets/fonts/public-sans-regular.woff2');
}
@font-face {
    font-family: 'Public Sans';
    src: url('../assets/fonts/public-sans-regular-italic.woff2');
    font-style:italic;
}


@font-face {
    font-family: 'TeX Gyre Schola';
    src: url('../assets/fonts/texgyreschola-regular.otf');
}
@font-face {
    font-family: 'TeX Gyre Schola';
    src: url('../assets/fonts/texgyreschola-italic.otf');
    font-style:italic;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../assets/fonts/public-sans-medium.woff2');
    font-weight:500;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../assets/fonts/public-sans-semibold.woff2');
    font-weight:600;
}
@font-face {
    font-family: 'Public Sans';
    src: url('../assets/fonts/public-sans-semibold-italic.woff2');
    font-weight:600;
    font-style:italic;
}